- content_for :pagetitle do
  %h1 Teams
- content_for :itembar do
  = link_to 'New team', new_team_path, class: 'btn btn-success' if policy(Team).new?

.row
  .col-md-9
    %table.table#team{style: 'width:100%;'}
      %thead
        %tr
          %th Name
          %th Location
          %th &nbsp;
        %tbody
          = render @teams
.row
  .col-xs-4
    .page-info{style: 'margin: 20px 0;'}
      = page_entries_info @teams
  .col-xs-5.text-right
    = paginate @teams, remote: true
