- content_for :pagetitle do
  %h1 Teams
- content_for :itembar do
  = link_to 'New team', new_team_path, class: 'btn btn-success' if policy(Team).new?

.row
  .col-md-8
    %table.table#team{style: 'width:100%;'}
      %thead
        %tr
          %th Name
          %th Location
        %tbody
        - @teams.each do |team|
          %tr
            %td= link_to(team.name, team)
            %td= team.location
