%header
  %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation", style: 'margin: 0;'}
    .container
      = render 'layouts/nav/header'
      = render 'layouts/nav/links', page: controller_name
