- content_for :pagetitle do
  %h1 Users

%table.table.table-striped#users{style: 'width: 100%;'}
  %thead
    %tr
      %th Name
      %th Email
      %th Username
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.display_name, (current_user.try(:admin?) ? user : profile_user_path(user))
        %td= user.email
        %td= user.username

:coffee
  $('table').DataTable({
    pageLength: 25
  })