- with_container = false
%img{src: 'img/softball.jpg', width: '100%', height: '400px'}
%h2.text-center
  How to play
%hr
.row.text-center
  .col-sm-4
    = fa_icon 'user-plus 2x'
    %h3 Step 1
    %p Sign up
  .col-sm-4
    = fa_icon 'plus 2x'
    %h3 Step 2
    %p Build your team
  .col-sm-4
    = fa_icon 'search 2x'
    %h3 Step 3
    %p Find your game