- content_for :pagetitle do
  %h1 Games
- content_for :itembar do
  = link_to 'New game', new_game_path, class: 'btn btn-success' if policy(Game).new?

.row
  .col-md-8
    %table.table#game{style: 'width:100%;'}
      %thead
        %tr
          %th Name
          %th Time
          %th Location
      %tbody
        = render @games
.row
  .col-xs-4
    .page-info{style: 'margin: 20px 0;'}
      = page_entries_info @games
  .col-xs-4.text-right
    = paginate @games, remote: true
