- content_for :pagetitle do
  %h1 Games
- content_for :itembar do
  = link_to 'New game', new_game_path, class: 'btn btn-success' if policy(Game).new?

.row
  .col-md-8
    %table.table#game{style: 'width:100%;'}
      %thead
        %tr
          %th Name
          %th Time
          %th Location
      %tbody
        - @games.each do |game|
          %tr
            %td= link_to(game.name, game)
            %td= local_time game.time
            %td= game.location
