$grid-float-breakpoint: 992px;

$navbar-height: 115px;
$navbar-collapse-max-height: 340px;

$navbar-default-color: #777;
$navbar-default-bg: rgba(66, 66, 66, 1);
$navbar-default-border: darken($navbar-default-bg, 6.5%);

// Navbar links
$navbar-default-link-color: rgba(204, 204, 204, 1);
$navbar-default-link-hover-color: #c19a31;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: $navbar-default-link-hover-color;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color: #ccc;
$navbar-default-link-disabled-bg: transparent;

// Navbar brand label
$navbar-default-brand-color: $navbar-default-link-color;
$navbar-default-brand-hover-color: darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg: transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg: #ddd;
$navbar-default-toggle-icon-bar-bg: #888;
$navbar-default-toggle-border-color: #ddd;

nav {
  font-size: 17px;
  font-weight: bold;
  border: 10px solid blue;
}
